# Terraform files
tfplan
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Binary files
*.bin
*.o
*.a
*.so
*.dll
*.exe
*.out
*.exe~
*.dylib

# OS files
.DS_Store
Thumbs.db
